@use "./variables";


@mixin font-face($name, $path, $weight, $style: normal, $format: "woff") {
    @font-face {
        font-family: $name;
        src: url($path) format($format);
        font-weight: $weight;
        font-style: $style;
    }
}

@font-face {
    font-family: "Titillium Web", sans-serif;
    src: url(/src/Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Titillium Web", sans-serif;
    src: url(/src/Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}