@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

@font-face {
  font-family: "Titillium Web Local";
  src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web Local";
  src: url("../../Assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}