//PRIMARY COLORS
$Black: #13182c;
$indigo: #2e66e5;
$white: #ffffff;

//SECONDARY COLORS
$slate: #5c667e;
$cloud: #bdc5d5;

//different screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

//background colors
$graphite: #232940;
$light-grey: #f7f8f9;

//supporting colors
$green: #158463;
$red: #c94515;
