//PRIMARY COLORS
$Black: #13182C;
$indigo: #2E66E5;
$white: #ffffff;

//SECONDARY COLORS
$slate: #5C667E;
$cloud: #BDC5D5;

//different screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

//background colors
$graphite: #232940;
$light-grey: #F7F8F9;

//supporting colors
$green: #158463;
$red: #C94515;