@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.header {
    background-color: $graphite;
    padding-top: 24px;
    padding-bottom: 24px;
@include tablet{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    
}


    &__Logo {
        display: flex;
        justify-content: center;
    }

    &__links {
        padding-top: 24px;
        display: flex;
        justify-content: space-around;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;

        @include tablet {
            font-size: 14px;
            line-height: 22px;
        }


        &--warehouses,
        &--inventory {
            font-family: "Titillium Web", sans-serif;
            color: $cloud;


            z-index: 1;

            &:active {
                background-color: $Black;
                color: $white;
                border-radius: 20px;
                padding: 10px 50px 10px 50px;
            }

            &:hover {
                background-color: $Black;
                color: $white;
                border-radius: 20px;
                padding: 10px 50px 10px 50px;
                cursor: pointer;
                text-decoration: underline;
            }
        }


    }
}