@use "/src/styles/partials/global.scss" as *;
@use "/src/styles/partials/mixins.scss" as *;
@use "/src/styles/partials/typography.scss" as *;
@use "/src/styles/partials/variables" as *;

* {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
}

.warehouseadd {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;

    &__container {
        padding-top: 20px;

        &__form {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding-top:1rem;

            @include tablet {
                flex-direction: row;
            }
        }


        &--pagelabel {
            display: flex;
            flex-direction: left;
            // background-color: $graphite;
        }

    }


}