@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouseList {
  padding: 1rem;
  background-color: $light-grey;

  @include tablet {
    padding: 2rem;
  }

  @include desktop {
    padding: 4rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 1rem 1rem;
    align-self: baseline;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;

    @include tablet {
      flex-direction: row;
      padding: 0rem 2rem 0 2rem;
    }
    @include desktop {
      padding: 0rem 4rem;
    }
  }

  &__title {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding: 1rem 0;
    color: $graphite;
    font-weight: 600;

    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
      padding: 1.5rem 0;
    }
  }

  &__search-box {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
      width: 100%;
      padding-top: 20px;
    }
  }

  &__search-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;

    @include tablet {
      width: 25%;
    }

    @include desktop {
      width: 30%;
    }
  }

  &__search {
    width: 100%;
    height: 2.25rem;
    border-radius: 20px;
    background: $white;
    border: 1px solid $cloud;
    padding: 0.5rem 2.5rem 0.5rem 1rem;

    @include tablet {
      height: 2.375rem;
    }
  }

  &__search-icon {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    pointer-events: none;
  }

  &__button {
    padding: 0.75rem;
    background-color: $indigo;
    color: $white;
    border: none;
    border-radius: 1.25rem;
    width: 100%;
    cursor: pointer;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-weight: 600;
    height: 2.25rem;
    margin-bottom: 1rem;

    &:hover {
      background-color: $graphite;
    }

    @include tablet {
      height: 2.375rem;
      font-size: 0.875rem;
      line-height: 1.375rem;
      padding: 0 1rem;
    }
  }

  &__card {
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: $white;
    width: 100%;
    position: relative;
    top: -5rem;

    @include tablet {
      margin: auto;
      top: -7.5rem;
    }

    @include desktop {
      top: -9.5rem;
    }
  }
}