@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

.inventory-background {
  background-color: $light-grey;

  @include tablet {
    min-height: 72vh;
  }
}

.warehouse-background {
  background-color: $light-grey;
}
