@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.delete {
  &__title {
    color: $Black;
  }

  &__description {
    color: $Black;
  }

  &__btn-box {
    display: flex;
    width: 100%;
  }

  &__cancel-btn {
    background-color: $white;
    color: $light-grey;
    border-color: $light-grey;
    height: 36px;
    border-radius: 20px;
    padding: 0 1rem;

    &:hover {
      color: $indigo;
      border-color: $indigo;
    }
  }

  &__delete-btn {
    background-color: $red;
    color: $white;
    height: 2.25rem;
    border-radius: 1.25rem;
    padding: 0 1rem;

    &:hover {
      background-color: $Black;
    }
  }
}
